@{
    var windowNo = ViewBag.WindowNumber;
}

@functions{
    public string GetText(string msg, bool isTrans = false, bool isElement = false)
    {
        if (isTrans)
        {
            return VAdvantage.Utility.Msg.Translate(ViewBag.lang, msg);
        }
        else if (isElement)
        {
            return VAdvantage.Utility.Msg.GetElement(Convert.ToString(ViewBag.lang), msg, false);
        }
        return VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, msg, true));
    }
}


<div class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblLocator_@windowNo" title="jh">@GetText("M_Locator_ID", true)</label>
    <select class="VIS_Pref_pass" id="cmbLocator_@windowNo"></select>
</div>
<div id="divchkCreateNew_@windowNo"  class="VIS-locator-DivStyle">
    <div style="width: 70%; float: right; margin-bottom: 7px;">
        <input id="chkCreateNew_@windowNo" type="checkbox" /><label class="VIS_Pref_Label_Font">@GetText("CreateNew", true)</label>
    </div>
</div>
<div id="divWarehouseInfo_@windowNo" class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblWarehouseInfo_@windowNo" title="jh">@GetText("M_Warehouse_ID", true)</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" readOnly="true" type="tel" id="txtWarehouseInfo_@windowNo" />
</div>

<div id="divWarehouse_@windowNo"  class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblWarehouse_@windowNo" title="jh">@GetText("M_Warehouse_ID", true)</label>
    <select class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" disabled id="cmbWarehouse_@windowNo"></select>
</div>

<div class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblX_@windowNo" title="jh">@GetText("X", false, true)</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" readOnly="true" type="tel" id="txtX_@windowNo" />
</div>
<div class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblY_@windowNo" title="jh">@GetText("Y", false, true)</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" readOnly="true" type="tel" id="txtY_@windowNo" />
</div>
<div class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblZ_@windowNo" title="jh">@GetText("Z", false, true)</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" readOnly="true" type="tel" id="txtZ_@windowNo" />
</div>
<div class="VIS-locator-DivStyle">
    <label class="VIS_Pref_Label_Font VIS-locator-label" id="lblValue_@windowNo" title="jh">@GetText("Value", true)</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" readOnly="true" type="tel" id="txtValue_@windowNo" />
</div>

<div class="VIS-locator-DivStyle" style="text-align: right">
    <input type="button" id="btnCancel_@windowNo" style="margin-bottom:0px;margin-top:0px; float:right " class="VIS_Pref_btn-2" value=@GetText("Cancel") />
    <input type="button" id="btnOk_@windowNo" style="margin-bottom:0px;margin-top:0px; float:right; margin-right:10px" class="VIS_Pref_btn-2" value=@GetText("OK") />
</div>

