@if (Request.IsAuthenticated)
{
    @model VIS.Models.LoginModel

    @functions{


        public string GetMsg(string lang, string key)
        {
            return VAdvantage.Utility.Msg.GetMsg(lang, key);
        }

    }


    <!-- App Top Header START -->

    if (!ViewBag.disableMenu)
    {
        <ul class="vis-app-hdr-l">
            <li>
                <a href="javascript:void(0)" class="vis-app-hdr-l-menu" title="@GetMsg((string)ViewBag.culture, "AppMenu") @GetMsg((string)ViewBag.culture, "Shct_AppMenu")" id="vis_appMenu">
                    <i class="fa fa-folder-o"></i>
                </a>
            </li>
            <li>
                <span class="vis-app-v-line"></span>
            </li>
            <li>
                <a href="javascript:void(0)" class="vis-app-hdr-l-menu" title="@GetMsg((string)ViewBag.culture, "InfoWindow")" id="vis_appInfoWindow">
                    <i class="fa fa-info"></i>
                </a>
            </li>
            @*<li><a href="javascript:void(0)" class="vis-icons-menuBar vis-icon-alerts" title="Alerts">Alerts</a><span class="vis-notify-counter">55</span></li>*@
            @*<li><a href="javascript:void(0)" class="vis-icons-menuBar vis-icon-call" title="@GetMsg((string)ViewBag.culture, "VA048_CallingInterface")" id="vis_appCall">Call</a></li>*@
        </ul>
    }
    else
    {
        <ul class="vis-app-hdr-l-menu" style="display: none; margin: 5px 0 0 0">
            <li>
                <img src="~/Areas/VIS/Images/logo.jpg" />
            </li>
        </ul>
    }

    <div class="vis-app.hdr-clouddaysleft">
        <p id="vis_cloud_daysleft"></p>
    </div>
    <ul class="vis-app-hdr-r">
        <li id="vis_userDate"><i class="fa fa-calendar"></i><span>@DateTime.Now.ToString("D", new System.Globalization.CultureInfo(ViewBag.culture.ToString().Replace("_", "-")))</span> </li>
        <li id="vis_theme" style="display:none">
            <div class="dropdown">
                <span class="dropdown-toggle vis-app-hdr-r-theme" data-toggle="dropdown">
                    <i class="fa fa-paint-brush">
                    </i>
                </span>
                <ul class="dropdown-menu">

                    <li>
                        <div class="vis-theme-rec" data-color="0, 152, 247|255,255,255|238,238,238|102,102,102">
                            <span class="vis-theme-color" style="background-color:#0098f7"></span>
                            <span class="vis-theme-color" style="background-color:white"></span>
                            <span class="vis-theme-color" style="background-color:#eee"></span>
                            <span class="vis-theme-color" style="background-color:#666"></span>
                        </div>
                    </li>

                    <li>
                        <div class="vis-theme-rec" data-color="209,65,17|255,255,255|240, 236, 235|74, 1, 2">
                            <span class="vis-theme-color" style="background-color:#d14111"></span>
                            <span class="vis-theme-color" style="background-color:White"></span>
                            <span class="vis-theme-color" style="background-color:#f0e1dd"></span>
                            <span class="vis-theme-color" style="background-color:#4a0102"></span>
                        </div>
                    </li>
                    <li>
                        <div class="vis-theme-rec" data-color="129, 177, 52|255,255,255|236, 241, 228|34, 44, 10">
                            <span class="vis-theme-color" style="background-color:#94c83f"></span>
                            <span class="vis-theme-color" style="background-color:White"></span>
                            <span class="vis-theme-color" style="background-color:rgba(236, 241, 228, 1)"></span>
                            <span class="vis-theme-color" style="background-color:rgba(34,44,10, 1)"></span>
                        </div>
                    </li>
                    <li>
                        <div class="vis-theme-rec" data-color="0, 152, 247|255,255,255|240,249,255|36,61,76">
                            <span class="vis-theme-color" style="background-color:#1aa0ed"></span>
                            <span class="vis-theme-color" style="background-color:white"></span>
                            <span class="vis-theme-color" style="background-color:#f0f9ff"></span>
                            <span class="vis-theme-color" style="background-color:#243d4c"></span>
                        </div>
                    </li>
                    <li></li>
                </ul>
            </div>

            @*<select id="vis_cmbtheme"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option> </select>  </li>*@
            @*
                <li id="vis_userTime"><span class="vis-icons-menuBar vis-icon-time"></span>@DateTime.Now.ToShortTimeString()*@
        </li>
        <li id="vis_userDisplayName" class="vis-app-hdr-r-user">
            <a id="vis_userName">@ViewBag.DisplayName</a>
            @*
        <div class="vis-div-userAvatar">*@
            @if (ViewBag.UserPic == null || ViewBag.UserPic == "NoRecordFound" || ViewBag.UserPic == "FileDoesn'tExist")
            {
            ViewBag.UserPic="";
            }
            <div class="vis-app-user-img-wrap">
                <i class="fa fa-user"></i>
                <img src="@ViewBag.UserPic" alt="profile image">
            </div><!-- user-img-wrap -->
            @*else
        {
        <img id="vis_LoginUserImage" src="~/Areas/VIS/Images/home/userAvatar.png" class="vis-userAvatar" />
        }
        }
        else
        {
        <img id="vis_LoginUserImage" src="~/Areas/VIS/Images/home/userAvatar.png" class="vis-userAvatar" />
        }*@
            @*
        </div>*@


        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "VIS" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="vis-app-hdr-r-logout" title="@GetMsg((string)ViewBag.culture, "Shct_LogOut")">
                    <i class="vis vis-logout"></i>
                </a>
            }
        </li>
    </ul>


    <div id="vis_home_ca" class="vis-dialog vis-auth-dialog">

        @using (Html.BeginForm("JsonChangeAuthentication", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "vis_changeAuthForm" }))
        {
            @Html.AntiForgeryToken()

            var sty = "width: auto; text-align: left; padding-right: 5px;";
            if (ViewBag.direction == "rtl")
            {
                sty = "width: auto; text-align: right; padding-left: 5px;";
            }

            <table>
                <tr>
                    <td style="@sty">
                        @Html.LabelFor(m => m.Login2Model.Role)
                    </td>
                    <td style="width: 100%">
                        @Html.DropDownListFor(m => m.Login2Model.Role, new SelectList(ViewBag.RoleList, "Key", "Name", Convert.ToInt32(Model.Login2Model.Role)), new { id = "vis_home_role" })
                        @Html.HiddenFor(m => m.Login2Model.RoleName, new { id = "vis_home_roleName" })
                    </td>

                </tr>
                <tr>
                    <td style="@sty">
                        @Html.LabelFor(m => m.Login2Model.Client)
                    <td style="width: 100%">
                        @Html.DropDownListFor(m => m.Login2Model.Client, new SelectList(ViewBag.ClientList, "Key", "Name", Convert.ToInt32(Model.Login2Model.Client)), new { id = "vis_home_client" })
                        @Html.HiddenFor(m => m.Login2Model.ClientName, new { id = "vis_home_clientName" })
                    </td>

                </tr>

                <tr>
                    <td style="@sty">
                        @Html.LabelFor(m => m.Login2Model.Org)
                    </td>
                    <td style="width: 100%">
                        @Html.DropDownListFor(m => m.Login2Model.Org, new SelectList(ViewBag.OrgList, "Key", "Name", Convert.ToInt32(Model.Login2Model.Org)), new { id = "vis_home_org" })
                        @Html.HiddenFor(m => m.Login2Model.OrgName, new { id = "vis_home_orgName" })
                    </td>
                </tr>

                <tr>
                    <td style="@sty">
                        @Html.LabelFor(m => m.Login2Model.Warehouse)
                    </td>
                    <td style="width: 100%">
                        @Html.DropDownListFor(m => m.Login2Model.Warehouse, new SelectList(ViewBag.WareHouseList, "Key", "Name"), new { id = "vis_home_warehouse" })
                        @Html.HiddenFor(m => m.Login2Model.WarehouseName, new { id = "vis_home_warehouseName" })
                        @Html.HiddenFor(m => m.Login2Model.Warehouse, new { id = "vis_home_warehouseId" })
                        @Html.HiddenFor(m => m.Login2Model.LoginLanguage, new { id = "vis_home_langugage" })

                    </td>

                </tr>


                <tr>
                    <td style="@sty"></td>
                    <td style="width: 100%; padding-top: 10px; padding-right: 5px; text-align: right;">
                        <input id="vis-auth-change" type="submit" value="Change" disabled />
                        <input id="vis-auth-close" type="submit" value="close" />
                    </td>
                </tr>
            </table>



            @Html.ValidationSummary()

        }




    </div>
    <!-- App Top Header END -->
}