@model VAdvantage.Utility.Ctx

@{
    var windowNo = ViewBag.WindowNo;
    var isRTL = Model.GetIsRightToLeft();
    var dStyle = "";
}

@functions{
    public string GetText(string msg, bool isTrans = false)
    {
        if (isTrans)
            return VAdvantage.Utility.Msg.Translate(Model, msg);
        return VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(Model, msg));
    }

    public string GetFullPath(string p)
    {
        return ViewBag.contextUrl + p;
    }
}

<div class="market-header">
    <div class="market-header-down">
        <ul>
            <li class="market-li">@GetText("Market")
            </li>
            <li class="market-pretraga">
                <input type="text" class="market-search-input">
                <button class="market-sear"></button>
            </li>

            <li class="market-li-close-img">
                <button class="market-close-img"></button>
            </li>
            <li class="market-checkbox">
                <label>
                    <input type="checkbox" name="market_chk" class="market-cb" />@GetText("Market_ShowVendorPrivate")</label>
            </li>
        </ul>
    </div>
</div>
<!-- end of header -->
<div class="market-app-menu">
    <ul>
        <li><a data-action="All" href="javascript:void(0)" class="market-all-app market-app-menu-a market-a-active">@GetText("Featured")</a></li>
        <li><a data-action="Paid" href="javascript:void(0)" class="market-top-paid market-app-menu-a">@GetText("TopPaid")</a></li>
        <li><a data-action="Free" href="javascript:void(0)" class="market-top-free market-app-menu-a">@GetText("TopFree")</a></li>
        <li><a data-action="Planned" href="javascript:void(0)" class="market-planned market-app-menu-a">@GetText("Planned")</a></li>
        <li><a data-action="My" href="javascript:void(0)" class="market-my-app market-app-menu-a">@GetText("My")</a></li>
        <li><a data-action="Private" href="javascript:void(0)" class="market-my-app market-app-menu-a">@GetText("Market_Private")</a></li>
    </ul>
</div>
<!-- end of app_menu -->
<div class="market-clear-both"></div>

<div class="market-main-container">
    <div class="market-left-sidebar">
        <ul class="market-main-app-list">
        </ul>
    </div>
    <div class="market-right-content">
    </div>

    <div class="vis-apanel-busy" style="height: 100%">
    </div>
</div>


<script class="market-module-template" type="text/x-handlebars-template">
    {{#each this}} ​
    <li class="market-app-list">
        <div class="market-app-list-inner">
            {{#if Image }}
						<img src="data:image/png;base64,{{Image}}">
            {{else}}
                          <img src="@GetFullPath("Areas/Market/Images/app_image.png")">
            {{/if}}
						<div>
                            <p class="market-title">{{Name}}</p>
                            <p class="market-tag-line">{{Description}}</p>
                            <p class="market-stars market-{{market_star Rating}}">Stars</p>
                        </div>
            <a href="Javascript:void(0)" class="market-app-install">{{ItemText}}</a>
        </div>
    </li>
    {{/each}} ​
</script>

<script class="market-module-tmp-right" type="text/x-handlebars-template">
    <div class="market-app-detail">
        <div class="market-about-app vis-pull-left">
            {{#if Image}}
					<img src="data:image/png;base64,{{Image}}">
            {{else}}
                    <img src="@GetFullPath("Areas/Market/Images/big_app_image.png")">
            {{/if}}
					<div class="market-app-detail-inner">
                        <p class="market-title">{{Name}}</p>
                        <p class="market-author"><small>@GetText("Developer"): {{Author}}</small> - <span>{{LastUpdated}}</span></p>
                        <p class="market-install-detail"><a href="javascript:void(0)" class="market-button-Install-detail" style="width: auto;">{{ButtonText}}</a><span>{{InstalledVersion}}</span></p>
                    </div>
        </div>
        <div class="market-app-rating vis-pull-right">
            <p>
                <label>@GetText("Rating"): </label>
                {{Rate Rating}}
                <img src="@GetFullPath("Areas/Market/Images/stars/{{market_star Rating}}.png")">
            </p>
            <p>
                <label>@GetText("VERSIONNO"):</label>
                {{VersionNo}}
            </p>
            <p>
                <label>@GetText("DEVELOPMENTSTATUS"): </label>
                {{ColNameValues.DEVELOPMENTSTATUS}}
            </p>
            @*<p class="market-developer">more from this developer</p>*@
        </div>
    </div>
    <div class="market-app-description">
        <div class="market-screenshot">
            <p class="market-contnet-title">@GetText("Market_Screenshots")</p>
            <div class="market-screenshot-outer">
                <div class="market-screenshot-inner">
                    {{#each ModMedia}}
                             {{#if isVideo}}
                                 <div class="market-video">
                                     <img class="market-video-pic" src="{{data}}" style="cursor: pointer" data-id="{{id}}">
                                 </div>
                    {{else}}
                                    {{#if data}}
                                            <div class="pic">
                                                <img src="data:image/png;base64,{{data}}">
                                            </div>
                    {{else}}
                                             <div class="pic">
                                                 <img src="@GetFullPath("Areas/Market/Images/module.png")">
                                             </div>
                    {{/if}}
                            {{/if}}
                        {{/each}}
                        @*<div class="video"><img src="~/Areas/Market/Images/video.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="video"><img src="~/Areas/Market/Images/video.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="video"><img src="~/Areas/Market/Images/video.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="video"><img src="~/Areas/Market/Images/video.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>
							<div class="pic"><img src="~/Areas/Market/Images/pic.png"></div>*@
                </div>
            </div>
        </div>
        <div class="market-description">
            <p class="market-contnet-title">@GetText("Description")</p>
            <p>
                {{Description}}
            </p>
            @*<p>
						<a class="market-more" href="#">more</a>
					</p>*@
        </div>
        <div class="market-features">
            <p class="market-contnet-title">@GetText("FEATURE")</p>

            <ul>
                <li>{{ColNameValues.FEATURE}}
                </li>

            </ul>
        </div>
        <div class="market-additional-information">
            <p class="market-contnet-title">@GetText("Market_AdditionalInformation")</p>
            <div class="market-ai-block">
                <p class="market-block-title">@GetText("INSTALLATIONINSTRUCTION")</p>
                <p>{{ColNameValues.INSTALLATIONINSTRUCTION}}</p>
            </div>
            <div class="market-ai-block">
                <p class="market-block-title">@GetText("DEPENDENCYINFO")</p>
                <p>{{ColNameValues.DEPENDENCYINFO}} </p>
            </div>
            <div class="market-ai-block">
                <p class="market-block-title">@GetText("UPGRADEINFO")</p>
                <p>{{ColNameValues.UPGRADEINFO}}</p>
            </div>
            <div class="market-ai-block">
                <p class="market-block-title">@GetText("URL")</p>
                <p>{{ColNameValues.URL}}</p>
            </div>
            <div class="market-ai-block">
                <p class="market-block-title">@GetText("Developer")</p>
                <p>{{Author}}</p>
            </div>

        </div>
        <div class="market-terms-condition">
            <p class="market-contnet-title">@GetText("TERMCONDITION")</p>
            <p>
                {{ColNameValues.TERMCONDITION}}
            </p>
        </div>
        <div class="market-terms-condition">
            <div class="market-versionsection">
                <p class="market-contnet-title market-versionpara">@GetText("Market_VersionHistory")</p>
                <a href="javascript:void(0)" class="market-button-version-detail" style="">@GetText("Market_VersionHistory")</a>
            </div>
            <p>
                {{VersionInfo.Detail}}
            </p>
        </div>


    </div>



</script>


<script class="market-module-depend" type="text/x-handlebars-template">
    {{#each this}} ​
    <li class="market-app-list">
        <div class="market-app-list-inner">
            <div>
                <p class="market-title">{{Name}}</p>
            </div>
            <div>
                <p class="market-title">{{VersionNo}}</p>
            </div>
            <a href="Javascript:void(0)" class="market-app-install">{{ItemText}}</a>
        </div>
    </li>
    {{/each}} ​
</script>

@* Review DIV   <div class="market-reviews" style='display:none'>
                <p class="market-contnet-title">Reviews <a class="market-more" href="#">more</a></p>
                <div class="market-reviews-left">
                    <p class="market-wr-rv"><a href="#">Write a review</a></p>
                    <div class="market-rw-img">
                        <!-- <img src="img/re.jpg"> -->
                        <div class="market-rating">
                            <div class="market-num-rating">
                                4.2
                            </div>
                            <div class="market-stars-basedon">
                                <p class="market-stars market-four-half-stars">stars</p>
                                <p class="market-based-on">Based on <i class="fa fa-user"></i>567890</p>
                            </div>
                        </div>
                        <div class="market-star-color">
                            <div class="market-single-star-color">
                                <p class="market-rating-stars market-full-stars">stars</p>
                                <p class="market-rating-num">
                                    <span class="market-full">56,345</span>
                                </p>
                            </div>
                            <div class="market-single-star-color">
                                <p class="market-rating-stars market-four-stars">stars</p>
                                <p class="market-rating-num">
                                    <span class="market-four">11,567</span>
                                </p>
                            </div>
                            <div class="market-single-star-color">
                                <p class="market-rating-stars three-stars">stars</p>
                                <p class="market-rating-num">
                                    <span class="market-three">14,456</span>
                                </p>
                            </div>
                            <div class="market-single-star-color">
                                <p class="market-rating-stars market-two-stars">stars</p>
                                <p class="market-rating-num">
                                    <span class="market-two">1,200</span>
                                </p>
                            </div>
                            <div class="market-single-star-color">
                                <p class="market-rating-stars market-one-star">stars</p>
                                <p class="market-rating-num">
                                    <span class="market-one">3,567</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market-reviews-right">
                    <div class="market-reviews-right-inner">
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/review_pic.png">
                            <p class="market-name">Jack Owl</p>
                            <p class="market-stars market-half-star">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. However, there is a bug with the haracters mouth not 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-one-star">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-one-half-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-one-star">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-two-half-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-three-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-three-half-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-four-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-four-half-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                        <div class="market-rw-block">
                            <img src="~/Areas/Market/Images/p2.jpg">
                            <p class="market-name">Sofia Palenzuela</p>
                            <p class="market-stars market-full-stars">Stars</p>
                            <p class="market-rw-content">
                                Cool. The formatting of this game is really intriguing. It make sure that the player keeps coming back for more fun. I like the little interlude periods where the story is developed. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@