<div style="height: 100%; width: 100%;">
    <div style="width: 25%; height: 85%; float: left; overflow: auto; background-color: #F1F1F1; ">
        <div id="@("parameterDiv_" + ViewBag.WindowNumber)">
        </div>

    </div>

    <div id="@("accDiv_" + ViewBag.WindowNumber)" style="width: 75%; height: 85%; float: right; ">
    </div>

    <div style="width: 25%; height: 10%; float: left; margin-bottom: 0px">
        <button id="@("btnSave_" + ViewBag.WindowNumber)" style="margin-top:6px;float: left;"  class="VIS_Pref_btn-2" >
            <img src="~/Areas/VIS/Images/base/Save24.png" /></button>
        <button  id="@("btnUndo_" + ViewBag.WindowNumber)" style="margin-top:6px;float: left; margin-left:10px" class="VIS_Pref_btn-2" >
            <img src="~/Areas/VIS/Images/base/Ignore24.png" /></button>

        <button  id="@("btnRefresh_" + ViewBag.WindowNumber)" style="margin-top:6px;float: left; margin-left:10px" class="VIS_Pref_btn-2" >
            <img src="~/Areas/VIS/Images/base/Refresh24.png" /></button>

    </div>
    <div id="@("discriptionDiv_" + ViewBag.WindowNumber)" style="width: 55%; height: 10%; float: left; margin-bottom: 0px; text-align: center;padding-top: 16px;">
        <label id="@("lblbottumMsg2_" + ViewBag.WindowNumber)"  class="VIS_Pref_Label_Font">Acctschema[101-IdeaInc.US/A/US Dollar]</label>
    </div>

    <div style="width: 20%; height: 10%; float: right; text-align: right; margin-bottom: 0px;">
        <input id= "@("btnCancel_" + ViewBag.WindowNumber)" class="VIS_Pref_btn-2" style="margin-bottom:0px;margin-top:6px; float:right" type="button" value=@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang,"Cancel") />
        <input id="@("btnOk_" + ViewBag.WindowNumber)"  class="VIS_Pref_btn-2" style="margin-bottom:0px;margin-top:6px ;float:right; margin-right:10px" type="button" value=@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang,"OK") />
    </div>

    <div id="@("bottumDiv_" + ViewBag.WindowNumber)" style="width: 80%; height: 5%; float: left; background-color: #ECECEC; display: block">
        <label id="@("lblbottumMsg_" + ViewBag.WindowNumber)"  class="VIS_Pref_Label_Font">Acctschema[101-IdeaInc.US/A/US Dollar]</label>
    </div>
    <div style="width: 20%; height: 5%; float: left; background-color: #ECECEC; display: block; text-align: right; padding-right: 10px;">
        <label style="text-align:right" id="@("lblCount_" + ViewBag.WindowNumber)" class="VIS_Pref_Label_Font">81</label>
    </div>
</div>

