<div style="width: 100%;  float: left" id="@("fisrt_" + ViewBag.WindowNumber)">
    <label class=" VIS_Pref_Label_Font" style="width:15% ;text-align: left;"  id="@("vlblAttributeText_" + ViewBag.WindowNumber)">test</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" style="float:none;width:250px"  type="text" readonly="true" id="@("vtxtAttribute_" + ViewBag.WindowNumber)" />
    <label class="VIS_Pref_Label_Font" style="width:auto;"  id="@("vlblAttribute_" + ViewBag.WindowNumber)">test</label>

</div>
<div style="width: 100%; float: left" id="@("second_" + ViewBag.WindowNumber)">
    <label class="VIS_Pref_Label_Font" style="width:15% ;text-align: left;" id="@("vlblValueText_" + ViewBag.WindowNumber)">test</label>
    <input class="VIS_Pref_pass vis-gc-vpanel-table-readOnly" style="float:none;width:250px" type="text" readonly="true" id="@("vtxtSearchKey_" + ViewBag.WindowNumber)" />
    <label class="VIS_Pref_Label_Font" style="width:auto" id="@("vlblValue_" + ViewBag.WindowNumber)">test</label>

</div>

<div style="width: 100%; float: left">
    <label style="float: none; width:15%;text-align:left" class=" VIS_Pref_Label_Font" id="@("vlblLevelText_" + ViewBag.WindowNumber)">test</label>
    <div style="width: 83%; display: inline-block">
        <div class="VIS_Pref_col-50">
            <input  type="checkbox" id="@("vchkTenant_" + ViewBag.WindowNumber)" ><label class="VIS_Pref_Label_Font">test</label>
        </div>
        <div class="VIS_Pref_col-50">
            <input  type="checkbox" id="@("vchkOrg_" + ViewBag.WindowNumber)" /><label class="VIS_Pref_Label_Font">test</label>
        </div>
    </div>
    <div style="width: 100%; float:left;">
        <div class="VIS_Pref_col-50">
            <input  type="checkbox" id="@("vchkUser_" + ViewBag.WindowNumber)" /><label class="VIS_Pref_Label_Font">test</label>
        </div>
        <div class="VIS_Pref_col-50">
            <input  type="checkbox" id="@("vchkWindow_" + ViewBag.WindowNumber)" /><label class="VIS_Pref_Label_Font">test</label>
        </div>
    </div>
</div>
<div id="@("divMsg_" + ViewBag.WindowNumber)" style="width: 100%; float: left; margin-bottom: 5px; margin-top: 5px; text-align: left">
    <label class="VIS_Pref_Label_Font" id="@("vlblMsg_" + ViewBag.WindowNumber)">test</label>
</div>
<div style="height: 10%; width: 100%; float: left">
    <button type="button" id="@("btnDelete_" + ViewBag.WindowNumber)"  class="VIS_Pref_btn-2"  style="margin-bottom:0px;margin-top:0px;float: left" value="Ok" role="button" aria-disabled="false">
        <img src="~/Areas/VIS/Images/base/Delete-W24.PNG" />
    </button>
    <input id= "@("btnCancel_" + ViewBag.WindowNumber)" class="VIS_Pref_btn-2" style="margin-bottom:0px;margin-top:0px; float:right" type="button" value="Cancel" />
    <input id="@("btnOK_" + ViewBag.WindowNumber)"  class="VIS_Pref_btn-2" style="margin-bottom:0px;margin-top:0px ;float:right; margin-right:10px" type="button" value="Ok" />

</div>



