
	<div id =@("divTheme_" + ViewBag.WindowNumber)" class="vis-thed-mainwrap">
		<div class="vis-thed-contentsec">
			<div class="vis-thed-previewsec">
				<div class="vis-thed-previewhdr">
					<div class="vis-thed-hdr-l">
						<a class="vis-app-hdr-l-menu"><i class="fa fa-folder-o"></i></a>
						<a class="vis-app-hdr-l-menu"><i class="fa fa-info"></i></a>
					</div><!-- vis-thed-hdr-l -->
					<ul class="vis-app-hdr-r vis-thed-hdr-r">
				        <li><i class="fa fa-calendar" style="font-size: .7rem;"></i> Friday, April 17, 2020</li>
				        <li class="vis-app-hdr-r-user">
				            <a>IdeasIncAdmin</a>            
				            <div class="vis-app-user-img-wrap">
				                <i class="fa fa-user"></i>
				            </div><!-- user-img-wrap -->
				        </li>
				        <li>
				        	<a class="vis-app-hdr-r-logout"><i class="vis vis-logout"></i></a>
				        </li>
				    </ul>
				</div><!-- vis-thed-previewhdr -->

				<div class="vis-thed-titlebar">
					<h6>Window Name</h6>
					<i class="vis vis-mark"></i>
				</div><!-- vis-thed-titlebar -->

				<div class="vis-thed-toolbar">
					<ul class="vis-ad-w-p-tb-lc">
	                    <li style="opacity: 0.6;"><i class="vis vis-ignore"></i></li>
	                    <li><i class="vis vis-new"></i><span>New Record</span></li>
	                    <li><i class="vis vis-delete"></i></li>
	                    <li style="opacity: 0.6;"><i class="vis vis-save"></i></li>
	                    <li><i class="vis vis-refresh"></i></li>
	                    <li><i class="vis vis-report"></i></li>
	                    <li style="opacity: 0.6;"><i class="vis vis-print"></i></li>
                	</ul>
                	<div class="vis-ad-w-p-tb-search">
                        <span class="vis-ad-w-p-tb-advsrch"><i class="vis vis-find"></i></span>
                        <input type="text" class="vis-ad-w-p-tb-s-input" placeholder="Search" readonly="">
                        <span class="vis-ad-w-p-tb-s-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div><!-- vis-ad-w-p-tb-search -->
                    <div class="vis-ad-w-p-tb-rc">
                        <span class="vis-ad-w-p-tb-rc-action">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </span>
                        <span class="vis-ad-w-p-tb-rc-action">
                            <i class="vis vis-gear"></i>
                        </span>
                        <span class="vis-ad-w-p-tb-rc-abar">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
				</div><!-- vis-thed-toolbar -->

				<div class="vis-thed-cntouterwrap">
					<div class="vis-thed-datapanel">
						<div class="vis-thed-tabswrap">
							<div class="vis-ad-w-p-t-c">
		                        <ul class="vis-ad-w-p-t-c-tc">
			                        <li class="vis-apanel-tab-selected"><h5>Header Tab</h5></li>
			                        <li><i class="vis vis-tl-1"></i><h5>Child Tab 1</h5></li>
			                        <li><i class="vis vis-tl-2"></i><h5>Child Tab 2</h5></li>
			                    </ul>
		                    </div>
		                    <ul class="vis-ad-w-p-nav-btns">
			                    <li><i class="vis vis-previous"></i></li>
			                    <li><i class="vis vis-next"></i></li>
			                    <li><i class="vis vis-multi"></i></li>
			                    <li><i class="vis vis-card"></i></li>
			                </ul>
						</div><!-- vis-thed-tabswrap -->
						<div class="vis-thed-tablewrap">
							<table>
								<thead>
									<tr>
										<th><h3><input type="checkbox"></h3></th>
										<th><h3>Organization</h3></th>
										<th><h3>Tenant</h3></th>
										<th><h3>Search Key</h3></th>
										<th><h3>Name</h3></th>
										<th><h3>Description</h3></th>
										<th><h3>Active</h3></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><h3><input type="checkbox"></h3></td>
										<td><h3>HQ</h3></td>
										<td><h3>IdeasInc.</h3></td>
										<td><h3>1000091jff</h3></td>
										<td><h3>Lucifer</h3></td>
										<td><h3>Marketing</h3></td>
										<td><h3><input type="checkbox"></h3></td>
									</tr>
									<tr class="vis-thed-tblselectedrow">
										<td><h3><input type="checkbox" checked></h3></td>
										<td><h3>HQ</h3></td>
										<td><h3>IdeasInc.</h3></td>
										<td><h3>1000091jff</h3></td>
										<td><h3>Lucifer</h3></td>
										<td><h3>Marketing</h3></td>
										<td><h3><input type="checkbox"></h3></td>
									</tr>
									<tr>
										<td><h3><input type="checkbox"></h3></td>
										<td><h3>HQ</h3></td>
										<td><h3>IdeasInc.</h3></td>
										<td><h3>1000091jff</h3></td>
										<td><h3>Lucifer</h3></td>
										<td><h3>Marketing</h3></td>
										<td><h3><input type="checkbox"></h3></td>
									</tr>
									<tr>
										<td><h3><input type="checkbox"></h3></td>
										<td><h3>HQ</h3></td>
										<td><h3>IdeasInc.</h3></td>
										<td><h3>1000091jff</h3></td>
										<td><h3>Lucifer</h3></td>
										<td><h3>Marketing</h3></td>
										<td><h3><input type="checkbox"></h3></td>
									</tr>
									<tr>
										<td><h3><input type="checkbox"></h3></td>
										<td><h3>HQ</h3></td>
										<td><h3>IdeasInc.</h3></td>
										<td><h3>1000091jff</h3></td>
										<td><h3>Lucifer</h3></td>
										<td><h3>Marketing</h3></td>
										<td><h3><input type="checkbox"></h3></td>
									</tr>
								</tbody>
							</table>
						</div><!-- vis-thed-tablewrap -->
						<div class="vis-ad-w-p-s-main">
							<div class="vis-ad-w-p-s-msg">
					            <span>Navigate or Update record</span>
					        </div>
					        <div class="vis-ad-w-p-s-pages">
					            <ul class="vis-ad-w-p-s-plst">
					                <li>
					                    <span class="vis-ad-w-p-s-statusdb"> 1/50</span>
					                    <div class="vis-ad-w-p-s-result">
					                        <span>Showing Result 1-50 of 116</span>
					                    </div>
					                </li>
						            <li><i class="vis vis-pageup"></i></li>
						            <li>
						            	<select class="vis-statusbar-combo" readonly>
						            		<option>1</option>
						            	</select>
						            </li>
						            <li><i class="vis vis-pagedown"></i></li>
						        </ul>
					        </div>
					    </div>
					</div><!-- vis-thed-datapanel -->
					<div class="vis-thed-actionpanel">
	                    <div class="vis-ad-w-a-arrow">
	                        <i class="fa fa-sort-down"></i>
	                    </div>
	                    <div class="vis-thed-iconslist">                        
	                        <ul>
	                        	<li><i class="vis vis-appointment"></i></li>
	                        	<li><i class="vis vis-email"></i></li>
	                        	<li><i class="vis vis-letter"></i></li>
	                        	<li><i class="vis vis-sms"></i></li>
	                        	<li><i class="vis vis-chat"></i></li>
	                        	<li><i class="vis vis-attachment"></i></li>
	                        	<li><i class="vis vis-history"></i></li>
	                        	<li><i class="vis vis-request"></i></li>
	                        	<li><i class="vis vis-workflow"></i></li>
	                        	<li><i class="vis vis-copy"></i></li>
	                        	<li><i class="vis vis-subscribe"></i></li>
	                        </ul>	                        
		                    <div class="vis-thed-botarrows">
		                        <span><i class="fa fa-angle-up"> </i></span>
		                        <span><i class="fa fa-angle-down"></i></span>
		                    </div>
	                    </div>
					</div><!-- vis-thed-actionpanel -->
				</div><!-- vis-thed-cntouterwrap -->

				<footer class="vis-app-footer">
					<div class="vis-app-footer-c">
		                <div class="vis-app-footer-c-l">
		                    <ul class="vis-app-f-taskbar">
		                        <li>	
		                        	<span class="vis vis-home"></span>
		                            <a>Home</a>
		                        </li>
		                        <li class="vis-app-f-selected">
		                        	<i class="fa fa-window-maximize"></i><a>Window Name</a><span><i class="fa fa-times-circle-o"></i></span>
		                        </li>
		                    </ul>
		                </div>
		                <div class="vis-app-footer-c-r">
		                </div>
		            </div>
		        </footer>
			</div><!-- vis-thed-previewsec -->

			<div class="vis-thed-clrpickerouterwrap">
				<fieldset>

                    <legend>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ChoseColor",true)</legend>

    				<div class="vis-thed-clrpickerwrap">
    					<div class="vis-thed-clrpickersec">
    						<div class="vis-thed-clrpickerlistitem">
    							<div class="vis-thed-clrpickerbox">
    								<input type="color" name="primary" value="#0093fc">
    							</div><!-- vis-thed-clrpickerbox -->
    							<div class="vis-thed-clrname">

                                    <p>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Primary",true)<i class="vis vis-info" style="display:none">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Primary", false)</i></p>

    							</div><!-- vis-thed-clrname -->
    						</div><!-- vis-thed-clrpickerlistitem -->

    						<div class="vis-thed-clrpickerlistitem">
    							<div class="vis-thed-clrpickerbox">
    								<input type="color" name="onprimary" value="#ffffff">
    							</div><!-- vis-thed-clrpickerbox -->
    							<div class="vis-thed-clrname">

                                    <p>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "OnPrimary",true)<i class="vis vis-info" style="display:none">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "OnPrimary",false)</i></p>

    							</div><!-- vis-thed-clrname -->
    						</div><!-- vis-thed-clrpickerlistitem -->
    					</div><!-- vis-thed-clrpickersec -->

    					<div class="vis-thed-clrpickersec">
    						<div class="vis-thed-clrpickerlistitem">
    							<div class="vis-thed-clrpickerbox">
    								<input type="color" name="secondary" value="#eeeeee">
    							</div><!-- vis-thed-clrpickerbox -->
    							<div class="vis-thed-clrname">

                                    <p>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Secondary",true)<i class="vis vis-info" style="display:none">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Secondary", false)</i></p>

    							</div><!-- vis-thed-clrname -->
    						</div><!-- vis-thed-clrpickerlistitem -->

    						<div class="vis-thed-clrpickerlistitem">
    							<div class="vis-thed-clrpickerbox">
    								<input type="color" name="onsecondary" value="#333333">
    							</div><!-- vis-thed-clrpickerbox -->
    							<div class="vis-thed-clrname">

                                    <p>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "OnSecondary",true)<i class="vis vis-info" style="display:none">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "OnSecondary", false)</i></p>

    							</div><!-- vis-thed-clrname -->
    						</div><!-- vis-thed-clrpickerlistitem -->
    					</div><!-- vis-thed-clrpickersec -->
    				</div><!-- vis-thed-clrpickerwrap -->
    			</fieldset>
			</div><!-- vis-thed-clrpickerouterwrap -->

			<div class="vis-thed-botsavesec">
				<div class="vis-input-wrap vis-thed-themenameinput">
					<input type="text" name="" >
                    <label>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "EnterName")</label>
				</div><!-- vis-thed-themenameinput -->
				<div class="vis-thed-btnswrap">

                    <a class="btn vis-thed-btn">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "SaveTheme",true)</a>
                    <a class="btn vis-thed-btn" data-action="sandd">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "SaveAndDefault",true)</a>

				</div>
			</div><!-- vis-thed-botsavesec -->
		</div><!-- vis-thed-contentsec -->

		<div class="vis-thed-sidebarwrap">
			<div class="vis-thed-sidebarheadsec">

                <h5>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "SavedTheme",true)</h5>

			</div><!-- vis-thed-sidebarheadsec -->
			<div class="vis-thed-savedlistouterwrap">
				<ul class="vis-thed-savedlistwrap">
					
				</ul><!-- vis-thed-savedlistwrap -->
			</div><!-- vis-thed-savedlistouterwrap -->
		</div><!-- vis-thed-sidebarwrap -->
	</div><!-- vis-thed-mainwrap -->
