@model   VIS.Models.HomeModels

@functions
{
    public string GetStatus(int count)
    {
        var d = "";
        if (count == 0)
        {
            d = "style=display:none ";
        }
        return d;
    }

    public string GetLocalDate(DateTime date_, string lng)
    {
        var d = "";
        if (date_ != null)
        {
            lng = lng.Replace("_", "-");
            try
            {
                d = date_.ToLocalTime().ToString("F", new System.Globalization.CultureInfo(lng));
            }
            catch
            {
                d = date_.ToLocalTime().ToString("F");
            }
        }
        return d;
    }        
}

<div class="container-fluid" id="dataContainer">
    <div class="row scrollerHorizontal">
        <!-- App Welcome Screen START -->
        <div id="welcomeScreen">
            <div class="vis-welcomeScreenContainer">
                <!-- App Welcome Screen Profile START -->
                <div class="vis-welcomeScreen-Data">
                    <div class="vis-welcomeMessage">

                        <h1 id="vis-userGreeting"></h1>  
                        <h2 id="visusrName">@Model.UsrName</h2>
                    </div>

                    <div class="vis-userAvatar-Container">
                        @if (Model.UsrImage != null)
                        {
                            <img id="imgUsrImage" alt="User Avatar" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "UserImage")" class="vis-userAvatar-Large"  src="data:image/jpg;base64,@Model.UsrImage" />
                        }
                        else
                        {
                            <i id="imgUsrImage" class="vis-userAvatar-Large vis vis-user"></i>
                            
                        }
                        @*<input type="hidden" id="hdfUserImage" value="@Model.UsrImage" />*@
                    </div>
                     <div class="text-center vis-change-picture-wrap">
                        <label for="vis-file-input"  class="vis-file-label">
                            <span class="vis-change-picture-ico vis vis-pencil"></span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ChangePicture")
                        </label>
                        <input id="vis-file-input" title=" " class="vis-change-pic-input" type="file" accept="image/*" />
                    </div>
                    <!--<div class="vis-status">
                            
                                
                             @if (Model.UsrStatus != null)
                             {
                            <label id="vis-labelStatus" class="vis-labelStatus" style="visibility:visible;">@Model.UsrStatus</label>
                            <input id="vis-textStatus" type="text" maxlength="2000" style="visibility:collapse;" placeholder="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "EnterStatus")"/>
                             }
                             else
                             {
                            <input id="vis-textStatus" type="text" maxlength="2000" style="visibility:visible;" placeholder="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "EnterStatus")"/>
                             <label id="vis-labelStatus" class="vis-labelStatus" style="visibility:collapse;">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "EnterStatus")</label>
                             }
<img  id="vis-img-OKStatus" src="~/Areas/VIS/Images/tick.png" class="vis-okStatus" style="visibility:collapse;"/>
                                <img id="vis-img-CancelStatus" src="~/Areas/VIS/Images/cancel.png" class="vis-cancelStatus" style="visibility:collapse;"/>
                        </div>-->
                    <!--<div style="margin-left:120px">
                        <input type="file" id="ImgUpload" name="Change Picture"/>
                    </div>-->

                </div>
                <!-- App Welcome Screen Profile END -->
                <!-- App Welcome Screen Feeds START (THIS IS  the main container where user tab menu click like user profile pic, or KPI details)-->
                <div class="vis-welcomeScreenFeeds">
                    <!-- App Feeds Heading START -->
                    <div class="row">
                        <h2 style="width: 100%">                            
                            <span id="spanWelcomeTabtopHdr" class="vis-welcomeScreenContentTittle-icon"></span>
                            <strong style="float: left;" id="sAlrtTxtType"></strong><strong id="hAlrtTxtTypeCount" style="display: none;"></strong>
                            @*<a id="hlnkTabDataRef" href="javascript:void(0)" style="float: right; margin-top: 0px; cursor: pointer; margin-right: 17px;" class="vis-feedIcons vis-icon-refresh" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Refresh")">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Refresh")</a>*@
                             <!-- Refresh,New message from message window showing & symbol. Now we used CleanMnemonics to remove &.-->

                            <a id="hlnkTabDataRef" href="javascript:void(0)" style="float: right; margin-top: 0px; cursor: pointer; margin-right: 17px;" title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Refresh"))" class="vis-feedicon"><i class="vis vis-refresh"></i></a>
                            <span id="sNewNts" style="display: none; float: right; margin-top: 0px; cursor: pointer; margin-right: 6px;" class="vis-feedicon" title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "New"))"><i class="vis vis-plus"></i></span>
                            <span id="WFSearchshow" style="display: none; float: right; margin-top: 0px; cursor: pointer; margin-right: 6px;" class="vis-feedicon vis vis-eye-plus" title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ShowSearch"))"></span>

                        </h2>
                    </div>
                    <!-- App Feeds Heading END -->
                    <div id="welcomeScreenFeedsList" class="scrollerVertical">
                    </div>
                    <div id="divTabMenuDataLoder">
                        <img height="20" width="20" src="~/Areas/VIS/Images/busy.gif" />
                    </div>
                </div>
                <!-- App Welcome Screen Feeds END -->
                <!-- Welcome Screen Tab Menu START -->
                <ul id="ulHomeTabMenu" class="vis-welcomeScreenTabMenu">
                    <li class="vis-activeTab">
                        <div title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "User profile")"  class="vis-welcomeScreenTab-notificationBubbles vis-blank"></div>
                        <a data-vishome="userprofile" href="javascript:void(0)"><i class="vis vis-userprofile"></i></a>
                    </li>
                    <li>
                        <div id="divfActivity"  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "workflow")" class="vis-welcomeScreenTab-notificationBubbles vis-feedsAlert"  @GetStatus(Model.WorkFlowCnt)>@Model.WorkFlowCnt</div>
                        <a data-vishome="workflow"  href="javascript:void(0)"title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "workflow")"><i class="vis vis-userfeed"></i></a></li>
                    <li>
                        <div id="divNoticeCount" class="vis-welcomeScreenTab-notificationBubbles vis-alertAlert" @GetStatus(Model.NoticeCnt)>@Model.NoticeCnt</div>
                        <a data-vishome="notice" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Notice")"  href="javascript:void(0)"><i class="vis vis-notice"></i></a></li>
                    <li>
                        <div id="divRequestCount"   title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Request")"  class="vis-welcomeScreenTab-notificationBubbles vis-calendarAlert"  @GetStatus(Model.RequestCnt)>@Model.RequestCnt</div>
                        <a  data-vishome="request" href="javascript:void(0)"  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Request")"><i class="fa fa-bell-o"></i></a></li>
                    <li>
                        <div id="divAptCount" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Appointments")"   class="vis-welcomeScreenTab-notificationBubbles vis-todoAlert"  @GetStatus(Model.AppointmentCnt) >@Model.AppointmentCnt</div>
                        <a  data-vishome="appointments" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Appointments")"  href="javascript:void(0)"><i class="vis vis-appointment"></i></a></li>
                    <li>
                        <div id="divMyTaskCount" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "MyTask")" class="vis-welcomeScreenTab-notificationBubbles vis-favouritesAlert" @GetStatus(Model.MyTaskCnt)>@Model.MyTaskCnt</div>
                        <a  data-vishome="mytask" href="javascript:void(0)" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "MyTask")"><i class="vis vis-mytasks"></i></a></li>
                    <li>
                        <div id="divTaskAssignBymeCount" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "TaskAssignByMe")" class="vis-welcomeScreenTab-notificationBubbles vis-linksAlert" @GetStatus(Model.TaskAssignByMeCnt)>@Model.TaskAssignByMeCnt</div>
                        <a data-vishome="taskassignbyme" href="javascript:void(0)"title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "TaskAssignByMe")"><i class="vis vis-taskassigned"></i></a></li>
                    <li>
                        <div id="divNotesCount"  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Notes")"  class="vis-welcomeScreenTab-notificationBubbles vis-contactsAlert" @GetStatus(Model.NotesCnt)>@Model.NotesCnt</div>
                        <a  data-vishome="notes" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Notes")" href="javascript:void(0)"><i class="vis vis-contacts"></i></a></li>
                    <li>
                        <div id="divKPI"  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "KPI")" class="vis-welcomeScreenTab-notificationBubbles vis-notesAlert"  @GetStatus(Model.KPICnt)>@Model.KPICnt</div>
                        <a data-vishome="KPI"  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "KPI")"  href="javascript:void(0)"><i class="vis vis-kpi"></i></a></li>
                    <li>
                        <div id="divDocReceveCnt" @VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "document count") class="vis-welcomeScreenTab-notificationBubbles vis-blank"  @GetStatus(0)>0</div>
                        <a data-vishome="documentrecive"   href="javascript:void(0)" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "documents")"><i class="vis vis-document"></i></a></li>
                </ul>
                <!-- Welcome Screen Tab Menu END -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- App Welcome Screen END -->

        <!-- Workflow Activity Screen START(Will Open when user clcik on add item Or Edit item) -->
        <div id="workflowActivity">
            <div class="vis-workflowActivityContainer">
                <div class="vis-workflowActivityTitleBar">
                    <h3 id="hWelcomeScreenSwapHdr"></h3>
                    <div class="vis-workflowActivityTitleBar-buttons">
                        <a href="javascript:void(0)" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Close")" class="vis vis-mark vis-icon-menuclose" id="btnWFAClose"></a>
                    </div>
                </div>
                <div id="workflowActivityData">
                    <div class="scrollerVertical">
                        <div class="vis-workflowActivityDetails" id="workflowActivityDetails">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Workflow Activity Screen END -->

        <!-- App Follups START -->
        <div id="fllupsScreen">
            <!-- App Follups Heading START -->
            <div class="row align-items-center">
                <h2><span><i class="fa fa-rss" aria-hidden="true"></i></span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "FollowUps") - <strong id="follupsCount">@Model.FollowUpCnt</strong></h2>
                <a id="hlnkFllupsRef" href="javascript:void(0)" title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Refresh"))" class="vis-feedicon"><i class="vis vis-refresh"></i></a>
            </div>
            <!-- App Follups Heading END -->

            <!-- Follups Data START -->
            <div id="fllupsList" class="scrollerVertical">
                @if (Model.HomeFolloUpsInfo != null && Model.HomeFolloUpsInfo.lstFollowups != null)
                {
                    if (Model.HomeFolloUpsInfo.lstFollowups.Count > 0)
                    {
                        foreach (var item in Model.HomeFolloUpsInfo.lstFollowups)
                        {
                            var divfllupsID = item.ChatID + "-" + item.RecordID + "-" + item.SubscriberID + "-" + item.TableID + "-" + item.WinID + "-" + item.TableName;
                            var divfllcmntID = "divfllcmntdata" + item.ChatID;
                            var divfllvmID = "divfllvm_" + item.ChatID;
                            var divfllvlID = "divfllvl_" + item.ChatID;
                            var txtFllCmntID = "txtFllCmnt" + item.ChatID;
                            var btnFllCmntID = "btnFllCmnt" + item.ChatID;  
                        
                    <div id="@divfllupsID"  data-fll="divfllups" class="vis-feedContainer">
                        <div class="vis-feedTitleBar">
                            <h3>
                                @item.WinName :  @item.Identifier </h3>
                            <div class="vis-feedTitleBar-buttons">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"  data-fll='azoomfllups' title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ViewFollowups")" class="vis vis-find" ></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-fll='asubscribefllups'  title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "UnsubscribeFollowups")" class="fa fa-rss"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="@divfllcmntID" data-fll="divfllupscmntdata" class="vis-feedDetails">
                            <div class="vis-feedDetails-cmnt" data-fll="fll-cmnt">
                                @if (item.AD_Image_ID == 0)
                                {
                                   
                                        <i class="fa fa-user"  data-fll="UID" data-UID="@item.AD_User_ID"></i>
                                    
                                }
                                else
                                {
                                    foreach (var uitem in Model.HomeFolloUpsInfo.lstUserImg)
                                    {
                                        if (uitem.AD_Image_ID == item.AD_Image_ID)
                                        {
                                            if (uitem.UserImg != "NoRecordFound" && uitem.UserImg != "FileDoesn'tExist")
                                            {
                                                <div class="vis-feedimgwrap" data-fll="UID" data-UID="@item.AD_User_ID" ><img data-fll="UID" data-UID="@item.AD_User_ID" class="userAvatar-Feeds" src="@uitem.UserImg" alt="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "UserImage")" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "UserImage")" /></div>
                                            }
                                            else
                                            {
                                                <i data-fll="UID" data-UID="@item.AD_User_ID" class="fa fa-user"></i>
                                            }
                                        }
                                    }
                                }
                                <p>
                                    @if (ViewBag.User_ID == @item.AD_User_ID)
                                    {
                                        <strong data-fll="UID" data-UID="@item.AD_User_ID">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Me")</strong><br />
                                    }
                                    else
                                    {
                                        <strong data-fll="UID" data-UID="@item.AD_User_ID">@item.Name</strong><br />
                                    }

                                    @item.ChatData
                                </p>
                                <p class="vis-feedDateTime">@GetLocalDate(item.Cdate, ViewBag.Current_Ad_Lang)</p>
                            </div>
                        </div>
                        <a id="@divfllvmID"  data-fll="viewmorefllupscmnt" href="javascript:void(0)" class="vis-viewMoreComments"><span class="vis-feedIcons vis-icon-viewMoreComments"></span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ViewMoreComments") ..</a>
                        <a id="@divfllvlID"  data-fll="viewlessfllupscmnt" style="display:none;" href="javascript:void(0)" class="vis-viewMoreComments"><span class="vis-feedIcons vis-icon-viewMoreComments"></span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "ViewLessComments") ..</a>

                        <div class="clearfix"></div>
                        <div id="@item.ChatID" class="vis-feedMessage">
                            <input id="@txtFllCmntID"  placeholder="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "TypeMessage") ...." data-fll="txtcmntfll" type="text" value="" />
                            @*   <input id="@btnFllCmntID" data-fll="btncmntfll" type="button" class="vis-feedIcons vis-icon-message" value="" />*@
                            <span id="@btnFllCmntID" data-fll="btncmntfll" title=" @VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "PostMessage")" class="vis vis-sms"></span>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                        }
                    }
                    else
                    {
                    <p style="margin-top: 200px; text-align: center">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "NoRecordFound") !!!!</p>
                    }
                }
                else
                {
                    <p style="margin-top: 200px; text-align: center">@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "NoRecordFound") !!!!</p>
                }
            </div>
            <!-- Follups Data END -->
            <!-- App Follups Loder start -->
            <div id="divFllMainLoder" style="display: none">
                <img height="20" width="20" src="~/Areas/VIS/Images/busy.gif" />
            </div>
            <!-- App Follups Loder End-->
        </div>
        <!-- App Follups END -->

        <!-- App Favourite And Links START -->
        <div id="favLinks">
            <!-- Favourite And Links Heading Tabs START -->

            <!-- App Links Heading START -->
            <div class="col-md-6 col-sm-6" id="userLinks">
                <div class="row userLinks_activeTab">
                    <h2><a href="javascript:void(0)" id="userLinks-Tab"><span><i class="fa fa-link" aria-hidden="true"></i></span>Links<strong></strong></a></h2>
                    @*<a href="javascript:void(0)" class="vis-linksIcons icon-add" title="Add Link">Add Link</a>*@
                </div>
            </div>
            <!-- App Links Heading END -->

            <!-- App Favourites Heading START -->
            <div class="col-md-6 col-sm-6" id="userFavs">
                <div class="row userFavs_inactiveTab">
                    <h2><a href="javascript:void(0)" id="userFav-Tab"><span class="vis vis-favourite"></span><span class="favouriteTabLabel-Small">Fav</span><span class="favouriteTabLabel-Large">Favourites</span><strong></strong></a></h2>
                    @*<a href="javascript:void(0)" class="vis-linksIcons icon-add" title="Add Link">Add Link</a>*@
                </div>
            </div>
            <!-- App Favourites Heading END -->
            <!-- Favourite And Links Heading Tabs END -->

            <!-- App Links List START -->
            <div id="userLinks-List">
                <div id="vis_linkScroll" class="scrollerVertical">

                    <img src="~/Areas/VIS/Images/busy.gif" />


                </div>
                <div class="vis-verticalScroller-End"></div>
            </div>
            <!-- App Links List END -->

            <!-- App Favourites List START -->
            <div id="userFavs-List">
                <div id="vis_favScroll" class="scrollerVertical">
                    <img src="~/Areas/VIS/Images/busy.gif" />

                </div>
                <div class="vis-verticalScroller-End"></div>
            </div>
            <!-- App Favourites List END -->
        </div>
        <!-- App Favourite And Links END -->
    </div>
</div>
<div class="vis-apanel-busy" id="divfeedbsy" style="width: 98%; height: 98%; text-align: center; position: relative; visibility: hidden; z-index: 6;"></div>
<script type="text/x-kendo-template" id="backgroundColor-template">
       <select id='templateTool' style='width:90px'><option value=''>none</option><option value='\#ff9'>yellow</option><option value='\#dfd'>green</option> <option value='\#2424E0'>Blue</option> <option value='\#E04324'>Red</option></select>
</script>
