@model VIS.Models.LoginModel



@using (Html.BeginForm("JsonLogin2", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login2Form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="login-wrap">
        <div class="login-content">
            <div class="lock">
                <img src="~/Areas/VIS/Images/login/lock.png" alt="">
            </div>

            <div class="login-form">

                <div class="input-row">
                    <label class="input-icon">
                        <img src="~/Areas/VIS/Images/login/role.png" alt="icon"></label>
                    <div class="language">
                        @Html.DropDownListFor(m => m.Login2Model.Role, new SelectList(ViewBag.RoleList), new { id = "role" })
                        @Html.HiddenFor(m => m.Login2Model.RoleName, new { id = "roleName" })
                    </div>
                </div>
                <div class="input-row">
                    <label class="input-icon">
                        <img src="~/Areas/VIS/Images/login/client.png" alt="icon"></label>
                    <div class="language">
                        @Html.DropDownListFor(m => m.Login2Model.Client, new SelectList(ViewBag.RoleList), new { id = "client" })
                        @Html.HiddenFor(m => m.Login2Model.ClientName, new { id = "clientName" })
                    </div>
                </div>
                <div class="input-row">
                    <label class="input-icon">
                        <img src="~/Areas/VIS/Images/login/org.png" alt="icon"></label>
                    <div class="language">
                        @Html.DropDownListFor(m => m.Login2Model.Org, new SelectList(ViewBag.RoleList), new { id = "org" })
                        @Html.HiddenFor(m => m.Login2Model.OrgName, new { id = "orgName" })
                    </div>
                </div>

                <div class="input-row">
                    <label class="input-icon">
                        <img src="~/Areas/VIS/Images/login/warehouse.png" alt="icon"></label>
                    <div class="language">
                        @Html.DropDownListFor(m => m.Login2Model.Warehouse, new SelectList(ViewBag.RoleList), new { id = "warehouse" })
                        @Html.HiddenFor(m => m.Login2Model.WarehouseName, new { id = "warehouseName" })
                    </div>
                </div>

                <div class="input-row">
                    <label class="input-icon">
                        <img src="~/Areas/VIS/Images/login/calender.png" alt="icon"></label>
                    @Html.EditorFor(m => m.Login2Model.Date, new { id = "date" })
                </div>
                <div class="login-button" style="text-align:center">
                    <input id="showLogin" type="submit" class="login2PanelBtn" value="Back" />
                    <input id="btnLogin2" type="submit" class="login2PanelBtn" value="Log in" />
                </div>

                @Html.HiddenFor(m => m.Login2Model.Login1Data, new { id = "login1Data" })

                @Html.ValidationSummary()


            </div>
            <!-- end of login-form -->
        </div>
        <!-- end of login-content -->
        <div class="vienna-logo">
            <img src="~/Areas/VIS/Images/login/logo.png" alt="logo">
        </div>
        <!-- end of vienna-logo -->

    </div>
    <!-- end of login-wrap -->
    
}


