@{
    ViewBag.Title = "Init";
}



<div class="contentArea" style="width: 100%; float: left; background-color: white">
    <div class="vis-email-leftDiv">
    </div>

    <div class="vis-Email-ContentWrap">
        <div class="vis-Email-ContentArea">
            <div class="vis-Email-leftWrap">
                <div class="vis-form-horizontal">
                    <div class="vis-Email-topinputWrap">
                        <a class="vis-Email-CcBcc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc") &amp; @VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</a>

                        <div class="vis-form-data">
                            <input type="text" id="@(ViewBag.windowNo + "_emailToTop")"  placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To")>
                        </div>

                        <div class="vis-form-data">
                            <input type="text" id="@(ViewBag.windowNo + "_eamilCcTop")"  placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc")>
                        </div>
                        <div class="vis-form-data">
                            <input type="text"  id="@(ViewBag.windowNo + "_emailBccTop")"  placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")>
                        </div>
                    </div>
                    <!-- end of Email-topinputWrap -->

                    <div class="vis-Email-inputWrap">
                        <div class="vis-form-data-sub">
                            <input type="text"  id="@(ViewBag.windowNo + "_emailSubject")"  placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Subject")>
                        </div>
                        @*<a class="vis-EmailIcon vis-EmailAttachment"></a>*@

                        <i id="@(ViewBag.windowNo + "_vis-email-attacImg")" class="vis vis-attachment1 vis-emailattchico"></i>

                        <div class="vis-email-attachmentContainer"></div>

                    </div>

                </div>
                <!-- end of form-horizontal -->


                @{if ((Session["ctx"] as VAdvantage.Utility.Ctx).GetIsRightToLeft())
                  {
                    <div class="k-rtl vis-Email-textarea-div" style="width: 100%; float: left; border: 1px solid rgb(204, 204, 204);">
                        <textarea  ondrop="return false;" id="@(ViewBag.windowNo + "_vis-Email-textarea")" style="width: 100%; height:100%;">
                
                </textarea>
                    </div>
                  }
                  else
                  {
                    <div class="vis-Email-textarea-div" style="width: 100%; float: left; border: 1px solid rgb(204, 204, 204);">
                        <textarea  ondrop="return false;" id="@(ViewBag.windowNo + "_vis-Email-textarea")" style="width: 100%; height:100%;">
                
                </textarea>
                    </div>
                  }
                      
                      
                }

               

                <div class="vis-Email-leftFooter">
                    <input id="@(ViewBag.windowNo + "_dyndis")" type="checkbox">
                    <label  for="@(ViewBag.windowNo + "_dyndis")" >@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "IsDynamicContent")</label>
                </div>

            </div>
            <!-- end of Email-leftWrap -->
            <div class="vis-Email-divider"></div>
            <div class="vis-Email-rytWrap">
                <div class="vis-Email-rytContent">
                    <div class="vis-Email-rytForm">
                        <div class="vis-form-rytData">
                            <label for="to">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To")</label>
                            <input id="@(ViewBag.windowNo + "_emailTo")"  type="text" name="to">
                        </div>

                        <div class="vis-form-rytData">
                            <label for="cc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc")</label>
                            <input id="@(ViewBag.windowNo + "_eamilCc")"  type="text" name="cc">
                        </div>

                        <div class="vis-form-rytData">
                            <label for="bcc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</label>
                            <input id="@(ViewBag.windowNo + "_emailBcc")"  type="text" name="bcc">
                        </div>
                    </div>
                    <!-- end of Email-rytForm -->

                    <div class="vis-Email-rytBcc">
                        <div class="vis-email-rytBcc-header">
                            <h4 style="float: left">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</h4>
                            @*<img  id="@(ViewBag.windowNo + "_emailRefresh")"  style="cursor: pointer;float:right;margin-top:8px" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Refresh")" src="~/Areas/vis/Images/Refresh24.png">*@
                            <!-- Refresh message from message window showing & symbol. Now we used CleanMnemonics to remove &.-->

                            <i  id="@(ViewBag.windowNo + "_emailRefresh")"  title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Refresh"))" class="vis vis-refresh"></i>
                        </div>
                        <div class="vis-Email-BccList">
                        </div>
                    </div>

                    <div class="vis-DMSAttachDoc">
                        <div>
                           <h4 class="vis-dmsdocumentheader" style="float: left"></h4>
                        </div>
                        <div class="vis-DMSAttachDocList">

                        </div>
                    </div>

                </div>
                <!-- end of Email-rytContent -->
            </div>
            <!-- end of Email-rytWrap -->

        </div>
        <!-- end of Email-ContentArea -->

    </div>
    <!-- end of Email-ContentWrap -->


</div>









@*<div class="vis-email-mainDiv">

    <div class="vis-email-leftDiv">
    </div>

    <div class="vis-email-middleDiv">

        <div>
            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To") </span>
            <input class="vis-email-inputText" id="@(ViewBag.windowNo + "_emailTo")" type="text" />
        </div>
        <br />
        <div>
            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc") </span>
            <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_eamilCc")" type="text" />
        </div>
        <br />
        <div>
            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc") </span>
            <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_emailBcc")" type="text" />
        </div>
        <br />
        <div>
            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Subject") </span>
            <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_emailSubject")" type="text" />
        </div>
        <br />
        <div>
            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Attachment") </span>
            <input class="vis-email-inputText" type="text" />
        </div>
        <br />

        <input id="@(ViewBag.windowNo + "_dyndis")" type="checkbox" checked="checked" value="DynamicDisplay" />

    </div>

    <div class="vis-email-rightDiv">
    </div>

</div>*@
