@model VIS.Models.LocationModel

@{
    var windowNo = ViewBag.WindowNumber;
    string lang = ViewBag.lang;
}


<table width="580" border="0">
    <tr>
        <td>
            <div class="form-group location">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-haspopup="true" id="lstLocation_@windowNo" />
                    <span class="input-group-addon"><a href="javascript:void(0)" class="glyphicon glyphicon-search"></a></span>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group location">
                <label id ="lblCountry_@windowNo" class = "VIS_Pref_Label_Font " >@VAdvantage.Utility.Msg.GetMsg(lang, "Country") </label>
                <sup style="color: red; float: left;">*</sup>
                @Html.TextBoxFor(m => m.Country, new { autofocus = "autofocus", id = "txtCountry_" + ViewBag.WindowNumber, @maxlength = "60", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "Country"), @class = "form-control", })
                <input id="countryhdn_@windowNo" type="hidden" value="@Model.C_Country_ID" />
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group location">
                <label id ="lblAddress1_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "Address1") </label>
                <div class="right-inner-addon margin-top">
                    @Html.TextBoxFor(m => m.Address1, new { autofocus = "autofocus", id = "txtAddress1_" + ViewBag.WindowNumber, @maxlength = "60", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "Address1"), })
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group location">
                <label id ="lblAddress2_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "Address2") </label>
                <div class="right-inner-addon ">
                    <a href="javascript:void(0)" id="aCollection" tabindex="-1" data-prod-cat="2" style="background: none" class="glyphicon glyphicon-plus VIS-Location-toggler"></a>
                    @Html.TextBoxFor(m => m.Address2, new { autofocus = "autofocus", id = "txtAddress2_" + ViewBag.WindowNumber, @maxlength = "60", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "Address2"), })
                </div>
            </div>
        </td>
    </tr>

    <tr class="cat2" style="display: none">
        <td>
            <div class="form-group location">
                <label id ="lblAddress3_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "Address3") </label>
                <a href="javascript:void(0)" data-prod-close="2" tabindex="-1" class="pull-right  VIS-Location-toggler"><span class="address-close-icon"></span></a>
                <div class="right-inner-addon ">
                    <a href="javascript:void(0)" data-prod-cat="3" style="background: none" tabindex="-1" class="glyphicon glyphicon-plus VIS-Location-toggler"></a>
                    @Html.TextBoxFor(m => m.Address3, new { autofocus = "autofocus", id = "txtAddress3_" + ViewBag.WindowNumber, @maxlength = "60", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "Address3"), })
                </div>
            </div>
        </td>
    </tr>

    <tr class="cat3" style="display: none">
        <td>
            <div class="form-group location">
                <label id ="lblAddress4_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "Address4") </label>
                <a href="javascript:void(0)" data-prod-cat="3" tabindex="-1" class="pull-right VIS-Location-toggler"><span class="address-close-icon "></span></a>
                <div class="right-inner-addon ">
                    @Html.TextBoxFor(m => m.Address4, new { autofocus = "autofocus", id = "txtAddress4_" + ViewBag.WindowNumber, @maxlength = "60", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "Address4"), })
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group location">
                <label id ="lblCity_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "City") </label>
                @Html.TextBoxFor(m => m.City, new { autofocus = "autofocus", id = "txtCity_" + ViewBag.WindowNumber, @maxlength = "60", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "City") })
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group location form-input pull-left">
                <label id ="lblState_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "State") </label>
                @Html.TextBoxFor(m => m.RegionName, new { autofocus = "autofocus", id = "txtState_" + ViewBag.WindowNumber, @maxlength = "40", @class = "form-control", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "State") })
                <input id="Statehdn_@windowNo" type="hidden" value="@Model.C_Region_ID" />
            </div>
            <div class="form-group location zip-input pull-right">
                <label id ="lblZipCode_@windowNo" class = "VIS_Pref_Label_Font control-label" >@VAdvantage.Utility.Msg.GetMsg(lang, "ZipCode") </label>
                @Html.TextBoxFor(m => m.ZipCode, new { autofocus = "autofocus", id = "txtZipCode_" + ViewBag.WindowNumber, @maxlength = "10", @class = "form-control pull-right", @placeholder = @VAdvantage.Utility.Msg.GetMsg(lang, "ZipCode") })
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="btns">
                <input id="btnOk_@windowNo"   class="VIS_Pref_btn-2 pull-left" style="margin-top:0px;margin-bottom:0px;" type="button" value=@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(lang, "OK"))  />
                <input id= "btnCancel_@windowNo" class="VIS_Pref_btn-2 pull-right" style="margin-top:0px;margin-bottom:0px" type="button" value=@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(lang, "Cancel"))  />
            </div>

        </td>
    </tr>

</table>




